<form id="loginForm">
    <div id="logIn">Log In:</div>
    <input id="enterUser" class="input" placeholder="Enter Username"></input>
    <input id="enterPass" class="input" placeholder="Enter password"></input>
    <button class="btn btn-dark">Submit</button>
</form>