<form id="loginForm">
    <div id="logIn">Log In:</div>
    <input id="enterUser" class="input" placeholder="Enter Username"></input>
    <input id="enterPass" type="password" class="input" placeholder="Enter password"></input>
    <button class="btn btn-dark">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
    integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    const form = document.querySelector("#loginForm")
    const usernameEl = document.querySelector("#enterUser")
    const passEl = document.querySelector("#enterPass")
    form.addEventListener("submit", async function (event) {
        event.preventDefault();
        const username = usernameEl.value.trim();
        const password = passEl.value.trim();
        console.log(username, password)
        const response = await fetch("/api/user/login", {
            method: "POST",
            body: JSON.stringify({ username, password }),
            headers: { "Content-Type": "application/json" }
        })
        console.log(response)
        if (response.ok) {
            console.log("Send to homepage or user page")
        } else {
            alert("An error occured! You messed up!")
        }

    })
</script>