<form id="signupForm">
    <div id="createAccount">Create an account:</div>
    <input id="suUser" class="input" placeholder="Username"></input>
    <input id="suEmail" class="input" placeholder="E-mail"></input>
    <input id="suPass" class="input" placeholder="Password"></input>
    <input id="suPassConfirm" class="input" placeholder="Confirm password"></input>
    <button class="btn btn-dark">Submit</button>
</form>