<div>
    <img src="../images/userIcon.png" alt="userImage" class="center">
</div>
<input placeholder="userName" class="name-center">
<div class="container">
    <!-- Nested Child Card -->
    <div class="card-child">
        <div class="card-body1">
            <img src="../images/mapCreatePost.png" class="card-img-top" alt="mapPost">
            <div class="card-body2">
                <h5 class="card-user_name">User Name</h5>
                <p class="card-text">Tell us why you like this location!</p>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </div>
</div>
</div>