body {
  background-image: url('../images/SignBG.png');
  background-size: cover;
}

#signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 380px;
}

#createAccount {
  font-size: 30px;
  color: white;
}

.input {
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}