body {
  background-image: url('../images/SignBG.png');
  background-size: cover;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

#logIn {
  font-size: 30px;
  color: white;
}

.input {
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.navnav {
  background-color: rgb(46, 14, 46);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn-h {
  background-color: rgb(214, 168, 247);
  align-content: center;
  color: rgb(46, 14, 46);
  border: 3px solid rgb(171, 115, 193);
  margin: 10px;
}